body {
    position: relative;
    text-align: center;
    background-color: black;
    }
    

body::before {
    content: "";
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3a8f25dd-0da0-428b-8db2-840fe85708b8/dbme7qp-58769a01-1209-4140-b9cf-576169d650fd.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzNhOGYyNWRkLTBkYTAtNDI4Yi04ZGIyLTg0MGZlODU3MDhiOFwvZGJtZTdxcC01ODc2OWEwMS0xMjA5LTQxNDAtYjljZi01NzYxNjlkNjUwZmQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.lLL9PFt1Ilm2k3DnnxkGv0DGTs8drj0bKEp4Dintdxk');
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%; 
    opacity: 0.4;
    z-index: -1;
}

button {
    margin-top: 10vh;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 500ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #0e1310;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}

button:hover {
    color: #e8e8e8;
    -webkit-box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
}

button:hover::before {
    width: 100%;
}


header {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #0000006c;
    color: rgb(232, 248, 13);
    text-align: center;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0 0 10px rgba(13, 248, 33, 0.7), 
                 0 0 20px rgba(13, 154, 248, 0.5), 
                 0 0 30px rgba(103, 13, 248, 0.3);
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}
section img {
    margin: 10px;
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;;
    justify-content: center;
    align-items: center;
}

.gallery figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.gallery img {
    width: 40%;
    height: 23vh;
    box-shadow: 0 0 5px rgba(13, 248, 33, 0.7), 
    0 0 15px rgba(13, 248, 131, 0.5), 
    0 0 30px rgba(103, 13, 248, 0.3);
}

.gallery figcaption {
    text-align: center;
    margin-top: 2vh;
    margin-left: 7vh;
    margin-right: 7vh;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    -webkit-text-stroke: 1px black;
}

.trophy {
margin-right: 5vh; 
height: 10vh;
width: 10vh;
}

.home-button {
margin: 0 10vh; 
}

.confetti {
margin-left: 5vh;
height: 10vh;
width: 10vh;
}