body {
position: relative;
text-align: center;
background-color: black;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 850px; 
    width: 100%; 
    background-image: url('https://i.pinimg.com/originals/7d/18/b5/7d18b5a50e47e4059ab24a2de18eaf70.gif');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
}


.hobbyBody {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 5vh;
}

.hobbyWelcome {
font-family: 'Oswald', sans-serif;
font-weight: bold;
font-size: 5vh;
text-shadow: 0 0 1px red, 0 0 1px hsl(41, 82%, 47%);
color: rgb(239, 226, 255);
-webkit-text-stroke: 1px black;
}

.cat {
margin-right: 5vh; 
height: 10vh;
width: 10vh;
}

.home-button {
margin: 0 10vh; 
}

.console {
margin-left: 5vh;
height: 10vh;
width: 10vh;
}


.hobbyList {
font-family: Arial;
margin-top: 1vh;
font-size: 4vh;
color: white;
text-shadow: 0 0 2px yellow;
}

.hobbyList p {
display: inline;
margin-right: 7vh;
margin-left: 7vh;
}

.image-gallery {
display: flex;
justify-content: center; 
align-items: center; 
width: 100%; 
gap: 10vh; 
}

.image-gallery img {
width: 20vh; 
height: 20vh; 
margin: 1vh; 
}

.parent-container {
width: 80%; 
margin: 0 auto; 
}

button {
margin-top: 10vh;
font-family: 'Roboto', sans-serif;
font-size: 40px;
padding: 15px 25px;
border: unset;
border-radius: 15px;
color: #212121;
z-index: 1;
background: #e8e8e8;
position: relative;
font-weight: 1000;
font-size: 17px;
-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
transition: all 500ms;
overflow: hidden;
}

button::before {
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0;
border-radius: 15px;
background-color: #0e1310;
z-index: -1;
-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
transition: all 250ms;
}

button:hover {
color: #e8e8e8;
-webkit-box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
-moz-box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
}

button:hover::before {
width: 100%;
}